.badge {
  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.badge--2d {
  width: 30px;
  height: 25px;
  border-radius: 25px;
}

.badge--3d {
  width: 40px;
  height: 25px;
  border-radius: 25px;
}

.badge--4d {
  width: 50px;
  height: 25px;
  border-radius: 25px;
}

.badge--new {
  display: block;
  width: 6px;
  height: 6px;
  position: absolute;
}

.badge--new--nav {
  left: 35px;
  bottom: 25px;
}

.badge--new--screen-header {
  left: 20px;
  bottom: 20px;
}
